.price {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.carouselControls:hover {
  opacity: 1;
}

.images {
  width: 100%;
}

.carouselControls {
  transition: opacity 150ms ease;
  opacity: 0;
}

.carouselIndicator {
  width: rem(4px);
  height: rem(4px);
  transition: width 250ms ease;

  &[data-active] {
    width: rem(16px);
  }
}
