.header {
  height: rem(56px);
  background-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-6));
  border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-lg);
  padding-bottom: 2.5rem;
  padding-top: 2.5rem;
}

.inner {
  height: rem(56px);
  display: flex;
  gap: 0.3125rem;
  justify-content: space-between;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  margin-left: 40px;
}

.link {
  display: block;
  line-height: 1;
  padding: rem(8px) rem(12px);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
}

.link:hover {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
}

@media (max-width: 48.125rem) {
  .inner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .list {
    margin-top: 20px;
  }
}

@media (max-width: 25rem) {
  .inner {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .list {
    margin-top: 20px;
  }
}
