.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: calc(var(--mantine-spacing-xl));
  border-radius: var(--mantine-radius-md);
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));
  border: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-8));
}

.body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--mantine-spacing-lg);
  padding: var(--mantine-spacing-lg);
}

.bodyCard {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--mantine-spacing-lg);
  border-radius: var(--mantine-radius-md);
  box-shadow: var(--mantine-color-black, 0.1) 0px 0px 10px;
}

.buttonTitle {
  font-weight: 800;
  color: var(--mantine-color-black, 0.1);
}

.control {
  height: 50px;
}

.controlLink {
  text-decoration: none;
  font-size: large;
  color: var(--mantine-color-white, 0.1);
}
