.card {
  transition:
  transform 150ms ease,
  box-shadow 150ms ease;
  background-color: #fff;
}

.mainTitle{
  margin-bottom: 20px;
  color: light-dark(var(--mantine-color-black-1), var(--mantine-color-white-1));
}

.card:hover {
  transform: scale(1.01);
  box-shadow: var(--mantine-shadow-md);
}

.title {
  font-family: 'Greycliff CF', var(--mantine-font-family);
  font-weight: bold;
}
