.comment {
  padding: var(--mantine-spacing-lg) var(--mantine-spacing-xl);
}

.body {
  padding-left: rem(54px);
  padding-top: var(--mantine-spacing-sm);
  font-size: var(--mantine-font-size-sm);
}

.commentsWrapper {
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 50px;
}

@media (max-width: 320px) {
  .commentsWrapper {
    display: flex;
    flex-direction: column;
  }
}
