.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.mainTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.controlLink {
  color: white;
  text-decoration: none;
  margin: 0;
}
.strategicTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
