.footer {
  margin-top: var(--mantine-spacing-xl);
  padding-bottom: calc(var(--mantine-spacing-xs));
  background-color: var(--mantine-color-gray-1);
}

.logoWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: max-content;
  justify-content: center;
}

.description {
  margin-top: 0.3125rem;
}

.inner {
  width: '100vw';
  display: flex;
  justify-content: space-between;
  padding-top: 2.5rem;
  padding-left: 3.75rem;
  padding-right: 3.75rem;
}

.groups {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

.wrapper {
  width: 10rem;
}

.link {
  margin-right: 2.5rem;
  display: block;
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-1));
  font-size: var(--mantine-font-size-sm);
  padding-top: 0.1875rem;
  padding-bottom: 0.1875rem;
}
.link:hover {
  text-decoration: underline;
}

.title {
  font-size: var(--mantine-font-size-lg);
  font-weight: 700;
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  margin-bottom: calc(var(--mantine-spacing-xs) / 2);
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.afterFooter {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-left: 3.125rem;
  padding-right: 3.125rem;
  padding-top: 3.125rem;
  border-top: 0.0625rem solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
}

@media (max-width: 850px) {
  .groups {
    justify-content: flex-end;
    column-gap: 1.25rem;
  }
}
@media (max-width: 48rem) {
  .inner {
    justify-content: center;
  }
  .logoWrapper {
    align-items: center;
  }
}

@media (max-width: 20rem) {
  .social {
    margin-top: var(--mantine-spacing-xs);
  }
  .afterFooter {
    flex-direction: column;
  }
  .groups {
    display: none;
  }

  .inner {
    flex-direction: column;
    align-items: center;
  }
  .description {
    margin-top: var(--mantine-spacing-xs);
    text-align: center;
  }

  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
